body {
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.web img{
    width: 50px;
}
.web ul{
    display: flex;
    list-style: none;
}
.web ul li{
    margin-left: auto;
}

.text {
    position: absolute;
    top: 0px;
    color: aliceblue;
    padding-left: 250px;
    text-align: center;
}
.relative {
    position: relative;
}
.relative img {
    width: 100%;
}
.row4 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.ttin {
    padding-left: 175px;
}
.anh { 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.anh img {
    margin: 5px 0px;
    width: 95%;
    border-radius: 10px;
}
.anh5 {
    width: 345px;
}
.nd {
    margin-top: -15px;
}