body {
    max-width: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.web .fvc img{
    width: 60px;
}
.web .logo img{
    width: 50px;
}
.web {
    display: grid;
    grid-template-columns: 50% 50%;
}
.web li{
    margin-top: auto;
    margin-bottom: auto;
}
.web .fvc {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%; 
    padding-top: 10px;    
}
.logo {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.fvc {
    margin: 0;
    padding-right: 0px;
}
/* .web .fvc li{
    display: inline-block;
    list-style: none;
    margin: 0px 10px 0px 10px;
}
.web .fvc img{
    margin-top: 10px;
} */
.text {
    position: absolute;
    top: 0px;
    color: aliceblue;
    padding-left: 250px;
    text-align: center;
}
.relative {
    position: relative;
}
.relative img {
    width: 100%;
}
.row4 {
    display: grid;
    grid-template-columns: 65% 35%;
}
.ttin {
    padding-left: 20px;
}
.anh { 
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.anh img {
    margin: 5px 0px;
    width: 95%;
    border-radius: 10px;
}
.anh5 {
    width: 345px;
}
.nd {
    margin-top: -15px;
}